<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjk.demo.mapper.GoodsMapper">
  <insert id="insertGoods" parameterType="goods" >
    insert into goods (name,price,img,tag_id,business_id,createTime,count) values(#{name},#{price},#{img},#{tag_id},#{business_id},#{createTime},#{count})
    <selectKey keyProperty="id" order="AFTER" resultType="Integer">
          select LAST_INSERT_ID()
    </selectKey>
  </insert>
  <resultMap id="pageList" type="business">
    <id column="bid" property="id"/>
    <collection property="goodsList" ofType="com.wjk.demo.pojo.Goods">
      <id column="id" property="id"/>
      <result column="name" property="name"/>
      <result column="price" property="price"/>
      <result column="img" property="img"/>
      <result column="createTime" property="createTime"/>
      <association property="tag" javaType="com.wjk.demo.pojo.Tag">
        <id column="tid" property="id"/>
        <result column="tname" property="name"/>
      </association>
    </collection>
  </resultMap>
  <select id="findAllGoods" parameterType="Integer" resultMap="pageList">
        select g.*,b.id bid,t.id tid,t.name tname from goods g left join business b on b.id=g.business_id left join tag t on g.tag_id=t.id where b.id=#{id} group by g.id order by g.createTime desc


  </select>
  <resultMap id="good-tag" type="goods">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="price" property="price"/>
    <result column="img" property="img"/>
    <result column="createTime" property="createTime"/>
    <association property="tag" javaType="com.wjk.demo.pojo.Tag">
      <id column="tid" property="id"/>
      <result column="tname" property="name"/>
    </association>
  </resultMap>
  <select id="findGoodsById" parameterType="Integer" resultMap="good-tag">
    select g.*,t.id tid,t.name tname from goods g left join tag t on g.tag_id=t.id where g.id=#{id}
  </select>
  <update id="updateGoods" parameterType="goods">
    update goods
   <trim prefix="set" suffixOverrides=",">
      <if test="name!=null">name=#{name},</if>
      <if test="price!=null">price=#{price},</if>
      <if test="img!=null">img=#{img},</if>
      <if test="createTime!=null">createTime=#{createTime},</if>
      <if test="tag_id!=null">tag_id=#{tag_id},</if>
     <if test="count!=null">count=#{count},</if>
   </trim>
    where id =#{id}
  </update>
  <delete id="deleteGoodsById" parameterType="Integer">
    delete from goods where id=#{id}
  </delete>
  <select id="findAllGoodsNameByBusinessId" parameterType="Integer" resultType="string">
    select g.name from goods g left join business b on b.id=g.business_id where b.id=#{id}
  </select>
  <resultMap id="goods-business" type="goods">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="price" property="price"/>
    <result column="img" property="img"/>
    <result column="createTime" property="createTime"/>
    <result column="count" property="count"/>
    <association property="business" javaType="com.wjk.demo.pojo.Business">
      <id column="bid" property="id"></id>
    </association>
  </resultMap>
  <select id="findBySearchName" parameterType="string" resultMap="goods-business">
    select g.*,b.id bid,b.img bimg from goods g inner join business b on b.id=g.business_id where b.flag=1 and g.name like "%"#{search}"%"
  </select>
  <resultMap id="fiveGoods" type="goods">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="price" property="price"/>
    <result column="img" property="img"/>
    <result column="createTime" property="createTime"/>
    <result column="count" property="count"/>
    <association property="business" javaType="com.wjk.demo.pojo.Business">
      <id column="bid" property="id"/>
    </association>
  </resultMap>
  <select id="findFiveGoods" resultMap="fiveGoods">
    select g.*,b.id bid from goods g inner join business b on b.id=g.business_id order by g.count desc limit 0,5
  </select>
</mapper>