<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjk.demo.mapper.TagMapper">
  <insert id="insertTag" parameterType="tag">
    insert into tag (name) values(#{name})
  </insert>
  <select id="findTagByName" parameterType="string" resultType="tag">
    select * from tag where name=#{name}
  </select>
  <resultMap id="allTag" type="tag">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
  </resultMap>
  <select id="findAll" resultMap="allTag">
    select * from tag
  </select>
  <resultMap id="eightTags" type="tag">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
  </resultMap>
  <select id="findEightTags" resultMap="eightTags">
    select * from tag order by id desc limit 0,8
  </select>

</mapper>