<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<nav class="ui inverted segment m-padding-mini" th:replace="_fragments::business-head">
    <div class="ui container">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui inverted basic  menu" >
                    <a class="ui  item" style="color: orangered!important;">请登录</a>
                    <a class="ui  item">免费注册</a>
                    <a class="ui item"><i class="ui home icon"></i>订餐首页</a>
                    <a class="ui item"><i class="ui idea icon"></i>商品分类</a>
                </div>
            </div>
            <div class="  eight wide column">
                <div class="ui inverted menu">
                    <a class="ui item">
                        个人中心
                    </a>
                    <a class="ui item"><i class="ui shopping cart icon"></i>购物车</a>
                    <a class="ui item">联系客服</a>
                </div>
            </div>
        </div>

    </div>
</nav>
<div class="ui container m-padding-massive">
    <div class="ui  segment" >
        <h2 class="ui teal header">修改菜单</h2>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="nine wide column" style="height: 800px">

                <div class="ui basic segment">
                    <span style="color: orangered">*注没有符合菜品的标签可以点击新增按钮添加新的标签</span>
                </div>


                <form action="" th:action="@{/business/goods-edit-finish}" method="post" enctype="multipart/form-data">
                    <div class="ui basic segment ">
                        <div class="ui right label input m-bottom-margin-small">
                            <div class="ui label" style="width: 80px">菜品名</div>
                            <input type="text" class="name"  name="name" style="width: 400px" th:value="${goods.name}">
                            <label class="label1" style="color: orangered;"></label>
                        </div>
                        <div class="ui right label input m-bottom-margin-small">
                            <div class="ui label" style="width: 80px">菜品价格 </div>
                            <input type="text"  name="price" style="width: 400px" th:value="${goods.price}">
                        </div>

                        <div class="ui left labeled action input m-bottom-margin-small"><!--标签文本结合-->
                            <label class="ui compact label" style="width: 100px!important;">菜品标签</label>
                            <div class="ui  selection  dropdown" style="width: 300px!important;">
                                <input type="hidden" name="tag.id" th:value="*{tag}!=null ?*{tag.id}">
                                <i class="dropdown icon"></i>
                                <div class="default text" th:text="${goods.tag.name}!=null?${goods.tag.name}">标签分类</div>
                                <div class="menu">
                                    <div th:each="tag:${tags}" th:data-value="${tag.id}" th:text="${tag.name}" class="item" data-value="1">粥类</div>
                                    <!--<div class="item" data-value="2">面食类</div>-->
                                    <!--<div class="item" data-value="3">盖浇饭类</div>-->
                                    <!--<div class="item" data-value="4">汤类</div>-->
                                    <!--<div class="item" data-value="5">综合类</div>-->
                                </div>
                            </div>
                        </div><a th:href="@{/tag/tag-input}" href="tag-input.html" class="ui teal button">新增标签</a>
                        <br>
                        <input type="hidden" name="id" th:value="${goods.id}">
                        <div class="ui right label input m-bottom-margin-small">
                            <div class="ui label" style="width: 80px">菜品样图 </div>
                            <input type="file"  name="file" id="file0" style="width: 400px">
                        </div>
                        <img src="" th:src="@{'/path/'+${goods.img}}"  id="file" style="width: 10em">
                        <input type="hidden" name="img" th:value="${goods.img}">
                        <br>
                        <input type="submit" class="ui submit teal button"/>

                    </div>

                </form>
            </div>
        </div>
    </div>


    </div>
</div>
<footer class="ui inverted segment">
    <div class="ui center aligned container m-padding-massive">
        <div class="ui inverted divided grid">
            <div class="two wide column">
                <img src="../static/images/weixin.png" class="ui rounded image img-style">
            </div>
            <div class="four wide column">
                <div class="ui inverted list">
                    <span class="item m-font-size letter-space">友情链接</span>
                    <a href="" class="item letter-space"><span >饿了么</span></a>
                    <a href="" class="item letter-space"><span >美团</span></a>
                    <a href="" class="item letter-space"><span >百度</span></a>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui inverted list">
                    <span class="item m-font-size letter-space">服务商</span>
                    <span class="item letter-space">安徽科技学院</span>
                    <span class="item letter-space">王俊凯</span>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui inverted list">
                    <span class="item m-font-size letter-space">声明</span>
                    <span class="item letter-space">用于学习练习</span>
                    <span class="item letter-space">用于完成作业</span>
                    <span class="item letter-space">用于应付毕业设计</span>
                </div>
            </div>
            <div class="two wide column">
                <img src="../static/images/qq.jpg" class="ui rounded image img-style">
            </div>

        </div>
        <br>
        <div class="ui inverted selection divider">
            <p class="m-top-margin-small letter-space" style="opacity: 0.8!important;">Copyright @2019-2020  Designed By wjk</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.js"></script>
<script src="../static/js/jqueryscrollto/jquery.scrollTo.min.js"></script>
<script>
    $('.ui.dropdown').dropdown(
        {
            on:'click'
        }
    )
    $("#file0").change(function(){
        var file=this.files[0]
        var img=/image\/\w+/;
        if (!img.test(file.type)){
            alert("请选择图片文件")
        }
        var objUrl = getObjectURL(this.files[0]) ;
        
        console.log("objUrl = "+objUrl) ;
        if (objUrl)
        {
            $("#img0").attr("src", objUrl);
            $("#img0").removeClass("hide");
        }
    }) ;
    //建立一個可存取到該file的url
    function getObjectURL(file)
    {  
        var url = null ;
        if (window.createObjectURL!=undefined)
        { // basic
            url = window.createObjectURL(file) ;
        }
        else if (window.URL!=undefined)
        {
            // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
        }
        else if (window.webkitURL!=undefined) {
            // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }
    $('.name').blur(function () {
        var name=$('.name').val()
        $.post("/business/testGoodsName",
            {
                "name":name
            },function (result) {

                $('.label1').html(result)
            })
    })
</script>
</body>
</html>